.contact {
		background: url(../images/gallery/Bg.png) center;
		background-size: cover, cover;
		position: relative;
	


		&__part  {
			margin-left: 6%;
		}

		&__box {
			position: absolute;
			top: -85%;
			width: 770px;
			height: 450px;
			
			 
			
			background: url(/images/news/city.png) no-repeat bottom center, #ffffff;
			box-shadow: 0px -4px 30px 0 rgba(133, 133, 133, 0.2);
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 8%;
			margin-bottom: 6%;


			 

			
			
			
			
		}

		&__title {
			width: 330px;
      		margin-top: 60px;
      		border-top: 1px solid #2c4058;
      		color: #2c4058;
      		margin-bottom: 8%;
      		display: flex;
			justify-content: center;

			&_text {
				padding-top: 40px;
				font-family: 'GothamBook' !important;
				font-size: 44px;
				font-weight: 500;
				line-height: 0.5;
				text-align: center;
				text-transform: uppercase;
			}
		}

   			&__content {
					display: flex;
					
		}

		&__info {
			display: flex;
			margin-left: 1%;
			margin-bottom: 8%;

			&--text {
				font-size: 18px;
				font-family: 'GothamBook' !important;
				line-height: 1.89;
				text-align: left;
				color: #2c4058;
				text-decoration: none;
			}
		}


		&__element-top {
			background: none;
			border-bottom: 1px solid #2c4058;
			font-family: 'GothamBook' !important;
			font-size: 18px;
			line-height: 1.22;
			text-align: left;
			padding-bottom: 4%;
			margin-bottom: 8%;
		}

		&__element-bottom {
			background: none;
			padding-bottom: 4%;
			border-bottom: 1px solid rgba(75, 85, 98, 0.5);
			font-family: 'GothamBook' !important;
			font-size: 18px;
			line-height: 1.22;
			text-align: left;
			color: rgba(75, 85, 98, 0.5);
			opacity: 0.7;
		}

		&__button {
			background: none;
			margin-top: 23%;
			margin-left: 15%;
			width: 50%;
			height: 25%;

			&:hover {
				transform: scale(1.1);
			}
		}
}



.img__element {
		margin-top: 2%;
    width: 18px;
		height: 18px;
		margin-right: 4%;
}

.footer {
	
	margin-left: 12%;
	margin-bottom: 15%;
	padding-top: 10%;

	&__icons {
		display: flex;
	}

	&__socials {
		margin-left: 368px;
	}

	&__info {
		margin-top: 8%;
		font-family: 'GothamBook' !important;
		font-size: 14px;
		line-height: 1.57;
		text-align: left;
		color: #ffffff;
		 display: flex;
	}

	&__text-1 {
		width: 36%;
		padding-right: 2%;
		margin-right: 2%;
		border-right: 1px solid #fff;
	}
}

