.gallery {
    background: #fff;
    background-size: cover, cover;

    &__position { 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		
		&__title {
			width: 300px;
      margin-top: 140px;
      border-top: 1px solid #2c4058;
      color: #2c4058;
      margin-bottom: 100px;
      display: flex;
			justify-content: center;
			
			&_text {
				padding-top: 40px;
				font-family: Gotham;
				font-size: 44px;
				font-weight: 500;
				line-height: 0.5;
				text-align: center;
				text-transform: uppercase;
			}
		}

		&__pictures {
			display: flex;
		}

		&__firstbox {
			background: url(../images/gallery/scott-webb-176434.png), no-repeat;
			background-size: cover, cover;
			width: 580px;
			height: 438px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		&__container {
			display: flex;
		}

		&__gallery__box {
			width: 285px;
			height: 438px;

			&--left {
				margin-right: 10px;
			}
			
		}

		&__picture {
			width: 285px;
			height: 214px;
			margin-bottom: 10px;
		}

		&__button {
			margin-top: 60px;
			margin-bottom: 140px;
		}









}