.news {
    background: url(../images/news/city.png),
    linear-gradient(to top, #3c7fd4, #24ccfa);
    background-size: cover, cover;
    height: 130vh;

    &__position {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 300px;
        margin-top: 140px;
        border-top: 1px solid #fff;
        color: #fff;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;

        &_text {
            padding-top: 40px;
            font-family: Gotham;
            font-size: 44px;
            font-weight: 500;
            line-height: 0.5;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__block {
        display: flex;
        justify-content: space-around;
    }

    &__element {
        width: 370px;
        height: 575px;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-right: 50px;
    }

    &__theme {
        font-family: Gotham;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.55;
        text-align: left;
        color: #2c4058;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &__text {
        font-family: OpenSans;
        font-size: 18px;
        line-height: 1.67;
        text-align: left;
        color: #4b5562;
        padding-left: 20px;
        padding-bottom: 45px;
    }

    
}

.author {
    padding-left: 20px;
    display: flex;
    padding-bottom: 40px;

    &__name {
        font-family: Gotham;
        font-size: 18px;
        line-height: 1.22;
        text-align: left;
        color: #2c4058;
        text-transform: uppercase;
        padding-left: 20px;
    }

    &__date {
        font-family: Gotham;
        font-size: 14px;
        line-height: 1.57;
        text-align: left;
        color: #55b7ff;
        padding-left: 20px;
    }
}